<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>

	<key>CFBundleDisplayName</key>
	<string>BEX Trader</string>

	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>

	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>

	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>

	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>

	<key>CFBundleIconName</key>
	<string>AppIcon</string>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bextrader.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bextrader</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.50746359348-j196c7embvnelnj7rfm2s35vdgbthvv6</string>
			</array>
		</dict>
	</array>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bextrader</string>
		<string>google</string>
		<string>com.googleusercontent.apps.50746359348-j196c7embvnelnj7rfm2s35vdgbthvv6</string>
	</array>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

	<key>GIDClientID</key>
	<string>50746359348-j196c7embvnelnj7rfm2s35vdgbthvv6.apps.googleusercontent.com</string>

	<key>GIDServerClientID</key>
	<string>50746359348-l24lp3dj2m9plp7qc8godulthhdiaa6k.apps.googleusercontent.com</string>

	<key>UIStatusBarHidden</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>

</dict>
</plist>